.banner {
    background: var(--blue-gradient);
    color: var(--white-background);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    line-height: 24px;
    padding: 0 2em;
    margin: 1em 0 1.5em 0;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--white-background);
    border-radius: 24px;
    color: var(--white-background);
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--white-background);
    text-align: center;
    background: url("../assets/Vector.svg") no-repeat;
    background-position: 2em;
}