.contato {
    background-color: var(--white-background);
    padding: 1.5em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto {
    font-weight: 300;
    line-height: 20px;
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0.5em 0 1.5em 0;
}

.contato__email {
    border: 1px solid var(--blue-text);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    color: var(--blue-text);
}

.contato__email::placeholder {
    font-family: var(--primary-font);
    color: var(--blue-text);
    font-weight: 400;
    font-size: 16px;
    background: url("/assets/Email.svg") no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
}

/* Tablet */
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875em 9.375em 3.3125em;
    }

    .contato__titulo {
        font-size: 24px;
        line-height: 36px;
    }

    .contato__texto {
        margin: 1em 0 0 0;
    }

    .contato__email {
        width: 55%;
        padding: 1.2em;
    }

    .contato__email::placeholder {
        padding-left: 2.5em;
    }
}