hr {
    margin: 0;
}

.rodape {
    background-color: var(--gray-secondary);
    padding: 1em 0em 1.5em 1.5em;
}

.rodape__titulo {
    color: var(--black-secondary);
    font-weight: 400;
}

.rodape__menu {
    display: none;
}

/* Tablets */
@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 3.5em 3.0625em 3.5em 1.5em;
    }

    .rodape__menu {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__menu {
        display: flex;
        gap: 3.75em;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .lista__titulo {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--gray-footer);
        margin-bottom: 0.5625em;
    }

    .lista__item {
        display: flex;
        align-items: center;
    }

    .lista__link {
        font-size: 14px;
        color: var(--gray-footer-link);
        text-decoration: none;
        margin-left: 0.5em;
    }
}

/* Desktop */
@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3.5em 0em;
        gap: 7.5625em;
        justify-content: center;
    }

    .rodape__menu {
        gap: 11.75em;
    }

    .menu__lista {
        border-left: 1px solid var(--gray-border);
        padding: 0 0 1.25em 1.25em;
    }
}