.topicos {
    background: var(--blue-gradient);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    font-weight: 300;
    color: var(--white-background);
    margin-bottom: 1.5em;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.topicos__item {
    margin: 1.5em 0.5em;
}

.topicos__link {
    color: var(--white-background);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--yellow-title);
    padding: 1em 1.5em;
}